.card {
    position: relative;
}
.card > .img-container {
    position: relative;   
}

.card > .img-container > img {
    /* position: absolute;
    top: 0px; */
    object-fit: cover;
    width: 100%;
    height: 25vh;
}
